<div class="grid__">
  <section class="card_intro">
    <h5>Send Money to Mobile Phone</h5>
    <i class="fa fa-ellipsis-h"></i>
  </section>
  <div class="card_design">
    <!--  -->
    <form #f="ngForm" [formGroup]="phoneForm">
      <div class="mb-2">
        <ngx-intl-tel-input
          [inputId]="'adsasd'"
          [cssClass]="'custom'"
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="false"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectFirstCountry]="false"
          [selectedCountryISO]="CountryISO.Poland"
          [maxLength]="15"
          [tooltipField]="TooltipLabel.Name"
          [phoneValidation]="true"
          [separateDialCode]="separateDialCode"
          name="phone"
          formControlName="phone"
        >
        </ngx-intl-tel-input>
      </div>
    </form>
    <!--  -->

    <hr />
    <div class="info_">
      <p>More than 140 countries listed</p>
      <i class="fa fa-exclamation-circle"></i>
    </div>
  </div>
</div>
