@import '../../../partials/color-variable';

.grid__ {
  margin-bottom: 1.4rem;
}
hr {
  margin: 1rem 0;
  height: 0.1px;
  background: #8080801f;
  border: none;
}
.info_ {
  display: flex;
  justify-content: space-between;
  color: $lightGray;
}
