<div class="dashboard_wrapper">
  <section class="welcome_">
    <h4>Dashboard</h4>
    <p>Welcome to Gringo Bank Plus</p>
  </section>

  <div class="two_major_grid">
    <div class="first_grid">
      <!-- My Cards component -->
      <div class="expand_grid">
        <app-my-cards></app-my-cards>
      </div>
      <!-- Transactions Component -->
      <div class="bottom__">
        <app-transactions></app-transactions>
      </div>
    </div>

    <div class="second_grid">
      <div class="firstPhase">

        <div class="mobile_and_progress">

          <!-- Money to Mobile component -->
          <app-money-to-mobile></app-money-to-mobile>

          <!-- Money box component -->
          <app-money-box></app-money-box>

        </div>

        <!-- send Money component -->
        <app-send-money></app-send-money>

      </div>

      <div class="secondPhase">

        <!-- Analytics component -->
        <app-analytics></app-analytics>

      </div>
    </div>
  </div>
</div>
