@import '../../../partials/color-variable';

.dashboard_wrapper {
  padding: 2.5rem 4rem;
  height: calc(100vh - 5rem);
  margin: 4rem 0px 0px 5rem;
  overflow-y: scroll;
}
.welcome_ {
  margin-bottom: 2rem;
  font-size: 1rem;
  h4 {
    color: $lightBlack;
    font-size: 1.2rem;
  }
  p {
    color: $lightGray;
  }
}

// left and right layout splitting
.two_major_grid {
  display: flex;

  .first_grid {
    flex: 1;
    margin-right: 2rem;
    width: 26rem;
    display: flex;
    flex-direction: column;
  }
  .second_grid {
    flex: 2.3;
    display: flex;
    flex-direction: column;
  }
}

.first_grid .bottom__ {
  margin-top: 2rem;
}

.expand_grid {
  flex: 1;
}

// child layout of second grid
.second_grid {

  .firstPhase {
    display: flex;

    .mobile_and_progress {
      flex: 2;
      display: flex;
      flex-direction: column;
      margin-right: 2rem;
    }
  }

  .secondPhase {
    margin-top: 1rem;
    flex: 1;
  }
}
