.wrapper {
  display: flex;
  width: 100%;

  .sidebar {
    width: 5rem;
    margin-top: 4rem;
    height: 100%;
    position: fixed;
    background-color: white;
  }
  .content{
    background: #f4f5f8;
    flex: 1;
    height: 100%;
  }
}

// Loader

.circle {
	color: red;
	display: inline-block;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	margin: 5px;
}
#container {
  height: 100vh;
  background: #5b6171;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
}
@keyframes move {
	0% {
		transform: translateY(20px);
		background-color: red;
	}
	25% {
		background-color: #00ff00;
	}
	50% {
		background-color: #0080ff;
	}
	75% {
		background-color: #8000ff;
	}
	100% {
		transform: translateY(-20px);
		background-color: #ff7f00;
	}
}
.circle:first-child {
	animation-name: move;
	animation-duration: 0.5s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.circle:nth-child(2) {
	animation-name: move;
	animation-duration: 0.6s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
.circle:last-child {
	animation-name: move;
	animation-duration: 0.7s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

