<app-header></app-header>
<div class="wrapper">
  <div class="sidebar">
    <app-side-bar></app-side-bar>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>

<div id="container" *ngIf="isLoading">
	<div class="circle">
	</div>
	<div class="circle">
	</div>
	<div class="circle">
	</div>
</div>
