$lightGray: #c5c8cd;

.sidebar {
  padding: 3rem 0px 6rem 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 4rem;
}
.top {
  & > ul {
    li {
      &:first-child {
        .fa {
          color: #41a1ff;
        }
      }
    }
  }
}
ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;

  li {
    margin-bottom: 2rem;
    .fa {
      color: $lightGray;
      font-size: 1.2rem;
    }


    &:hover .fa {
      color: #41a1ff;
      cursor: pointer;
    }
  }
}
