<div class="sidebar">
  <div class="top">
    <ul>
      <li>
        <i class="fa fa-dashboard"></i>
      </li>
      <li>
        <i class="fa fa-credit-card-alt"></i>
      </li>
      <li>
        <i class="fa fa-database"></i>
      </li>
      <li>
        <i class="fa fa-file-text"></i>
      </li>
      <li>
        <i class="fa fa-group"></i>
      </li>
      <li>
        <i class="fa fa-bullseye"></i>
      </li>
    </ul>
  </div>

  <div class="bottom">
    <ul>
      <li>
        <i class="fa fa-sign-out"></i>
      </li>
    </ul>
  </div>

</div>

