$lightGray: #c5c8cd;
$lightBlack: #5b6171;

.header_wrapper {
  width: 100%;
  height: 4rem;
  padding: 0.8rem 1.5rem;
  background-color: white;
  display: flex;
  justify-content: space-between;
  position: fixed;

  &_left {
    display: flex;

    .logo {
      display: flex;
      align-items: center;
      margin-right: 1rem;

      img {
        margin-right: 0.7rem;
      }

      h4 {
        font-size: 0.8rem;
        span {
          display: block;
          color: $lightBlack;
          &:first-child {
            font-weight: 500;
            letter-spacing: 1.4px;
          }
        }
      }
    }
    .search_input {
      display: flex;
      align-items: center;
      background-color: #f9f9fa;
      border-radius: 5px;
      width: 25rem;
      .fa {
        margin: 0 0.7rem;
        color: gray;
      }
      input {
        border: none;
        background-color: transparent;
        flex: 1;
        &:focus {
          outline-width: 0;
        }
      }
    }
  }

  &_right {
    width: 28rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      padding: 0.8rem 2rem;
    }

    .fa {
      color: gray;
      font-size: 1.5rem;
    }

    .user {
      display: flex;
      align-items: center;
      img {
        width: 2.4rem;
        margin-right: 1rem;
      }
      h4 {
        font-size: 0.9rem;
        color: $lightBlack;
        span {
          display: block;
          &:last-child {
            font-weight: 500;
            color: gray;
          }
        }
      }
    }
  }
}
