<div class="header_wrapper">
  <div class="header_wrapper_left">
    <div class="logo">
      <img src="assets/img/logo.png" alt="company logo">
      <h4>
        <span>GRINGO</span>
        <span>Bank Plus</span>
      </h4>
    </div>

    <div class="search_input">
      <i class="fa fa-search"></i>
      <input type="text" placeholder="Search">
      <i class="fa fa-microphone"></i>
    </div>
  </div>

  <div class="header_wrapper_right">
    <button class="btn">Deposit</button>
    <i class="fa fa-bell"></i>
    <section class="user">
      <img [src]="userDetail?.userImage" alt="user image">
      <h4>
        <span>{{userDetail?.firstName}} {{userDetail?.lastName | slice:0:1}}.</span>
        <span>{{userDetail?.userInfo}}</span>
      </h4>
    </section>
  </div>
</div>
