@import './color-variable';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  // font: 13px/20px "Lucida Grande", Tahoma, Verdana, sans-serif;
}

html {
  font-size: 16px;
}

@media (max-width: 1280px) {
  html {
    font-size: 80% !important;
  }
}
@media (max-width: 1500px) {
  html {
    font-size: 90%;
  }
}

.card_design {
  display: block;
  padding: 2.19rem;
  background-color: white;
  border-radius: 0.625rem;
  box-shadow: 1px 1px 3px #e5e5e5;
  position: relative;
  width: 100%;
  flex: 1;

  &.removeRadiusBottom {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.removeRadiusTop {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
}

.card_intro {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;

  h5 {
    font-weight: bold;
    font-size: 1.2rem;
    color: $lightBlack;
  }
  i {
    color: $lightGray;
  }
}


input {
  border: none;
  &:focus {
    outline-width: 0;
  }
}

.btn {
  border-radius: 5px;
  padding: 0.5rem 3rem;
  color: white;
  background-color: #41a1ff;
  border: none;
  cursor: pointer;
  font-weight: bold;

  &:focus {
    outline: 0;
  }
}
#adsasd, .selected-dial-code{
  font-size: 1.3rem;
  font-weight: 500;
  color: $lightBlack;
}
