<div class="wrapper">
  <section class="card_intro">
    <h5>Transactions</h5>
    <i class="fa fa-cog"></i>
  </section>

  <div class="card_design">
    <div class="transactions" *ngFor="let record of transactionRecords">
      <div class="icon_ one" [ngClass]="{'one': record?.amount > 10 && record?.ammount < 50, 'two': record?.amount > 50, 'three': record?.amount < 11 }">
        <i class="fa" [ngClass]="{ 'fa-stop-circle': record?.category === 'food', 'fa-home': record?.category === 'service', 'fa-mobile': record?.category === 'utility' }"></i>
      </div>
      <div class="detail">
        <h5>{{record?.title}}</h5>
        <p>{{record?.date}}</p>
      </div>
      <div class="price">
        <h4>-{{record?.amount | currency}}
          <!-- <span>.50</span> -->
        </h4>
      </div>
    </div>

  </div>
</div>
