@import '../../../partials/color-variable';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.transactions {
  padding: 1rem 0rem;
  display: flex;
  align-items: center;

  .icon_ {
    &.one {
      background: #ebf5ff;
      .fa {
        color: #339bff;
      }
    }
    &.two {
      background: #fff9eb;
      .fa {
        color: #fcc22d;
      }
    }
    &.three {
      background: #f8f1ff;
      .fa {
        color: #8932df;
      }
    }
    background: rgba(131, 131, 235, 0.281);
    border-radius: 8px;
    margin-right: 1.2rem;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa {
      font-size: 1.4rem;
    }
  }
  .detail {
    h5 {
      font-size: 0.9rem;
      color: $lightBlack;
    }
    p {
      color: $lightGray;
      font-size: 0.8rem;
    }
  }
  .price {
    margin-left: auto;
    h4 {
      font-size: 1rem;
      font-weight: bolder;
      span {
        color: $lightGray;
      }
    }
  }
}
