
        <div class="sendMoney wrapper">
          <section class="card_intro">
            <h5>Send Money to</h5>
            <i class="fa fa-cog"></i>
          </section>

          <div class="card_design">
            <div class="users__">
              <img [src]="item?.img" alt="face one" *ngFor="let item of sendMoney?.transferToOthers" />
            </div>
            <div class="open_contact">
              <p>Open Contacts</p>
              <i class="fa fa-long-arrow-right"></i>
            </div>
            <div class="card__options">
              <div class="select__card__" >
                <div class="card_list">
                  <span>VISA</span>
                  <span>2482 ** 7837</span>
                  <span class="fa fa-angle-down"></span>
                </div>

                <select>
                  <option>2134 ** 8337</option>
                  <option>2567 ** 4332</option>
                  <option>1268 ** 3567</option>
                  <option>6432 ** 7837</option>
                </select>
              </div>

              <div class="amount__">
                <section class="amt">
                  <p>Amount</p>
                  <h4>1250<span>.00</span></h4>
                </section>
                <div class="currency"><h4>USD</h4></div>
              </div>
              <hr />
              <div class="sendMoney">
                <button class="btn">Send Money</button>
              </div>
            </div>
          </div>
        </div>
