@import '../../../partials/color-variable';

.wrapper {
  width: 20rem;
  display: flex;
  flex-direction: column;
  height: 100%;
}


// Send money to section
.users__ {
  display: flex;
  justify-content: space-between;

  img {
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 100%;
    object-fit: cover;
  }
  & ~ .open_contact {
    margin-top: 1.2rem;
    display: flex;
    justify-content: space-between;
    color: rgba(139, 138, 138, 0.274);

    P {
      font-size: 0.9rem;
      font-weight: 600;
    }
    i.fa {
      font-size: 1.2rem;
    }
  }

  & ~ .card__options {
    margin-top: 2rem;

    .select__card__ {
      position: relative;
      cursor: pointer;

    }
    .card_list {
      border-radius: 5px;
      display: flex;
      align-items: center;
      width: 100%;
      position: absolute;
      top: 8px;
      width: calc(100% - 14px);
      padding-left: 1rem;
      pointer-events: none;

      & ~ select {
        padding: 0.6rem 1rem;
        border: 1px solid #80808047;
        border-radius: 5px;
        width: 100%;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        color: white;

        option {
          color: $lightBlack;
        }
      }

      span {
        &:first-child {
          font-size: 0.5rem;
          padding: 0rem 0.4rem;
          background: #41a1ff;
          margin-right: 1rem;
          color: white;
          border-radius: 0.3125rem;
        }
        &:nth-child(2) {
          font-size: 0.9rem;
          font-weight: bold;
          color: $lightGray;
        }
        &:last-child {
          margin-left: auto;
          color: $lightGray;
        }
      }
    }

    .amount__ {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      p {
        color: $lightGray;
        margin-bottom: 0.3rem;
        font-weight: bold;
        font-size: 0.7rem;
      }
      h4 {
        font-size: 1rem;
        font-weight: bold;
        color: $lightBlack;
        span {
          color: $lightGray;
        }
      }
    }

    hr {
      margin: 1.4rem 0;
      height: 0.1px;
      background: #8080801f;
      border: none;
    }

    .sendMoney {
      margin-top: 1rem;
      .btn {
        width: 100%;
        padding: 1rem 1.5rem;
      }
    }
  }
}
