
          <div class="grid__">
            <section class="card_intro">
              <h5>Money Box</h5>
              <i class="fa fa-ellipsis-h"></i>
            </section>
            <div class="card_design">
              <div class="progress__grid">
                <div class="progress__grid__progress">
                  <div class="progress__grid__progress__details">
                    <h4>Progress</h4>
                    <h4>{{moneyBoxProgress}}%</h4>
                  </div>

                  <!-- Progress display -->
                  <div class="container">
                    <div class="progress">
                      <div [style]="'width: ' + moneyBoxProgress + '%'" class="progress-bar"></div>
                    </div>
                    <p>Your money box in the process of filling ...</p>
                  </div>
                  <!-- End of progress display -->
                </div>

                <div class="icons_">
                  <i class="fa fa-download"></i>
                  <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
