@import '../../../partials/color-variable';

// Progress grid layout
.progress__grid {
  display: flex;
  align-items: center;

  &__progress {
    padding-right: 2rem;
    border-right: 1px solid #80808029;
    display: flex;
    flex-direction: column;
    &__details {
      display: flex;
      justify-content: space-between;
      color: $lightGray;
    }
  }
  .icons_ {
    margin-left: 2rem;
    i.fa {
      color: #8080807a;
      font-size: 1rem;
      padding: 0.4rem;
      border: 1px solid $lightGray;
      border-radius: 5px;
      &:first-child {
        margin-right: 1rem;
      }
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}

// Progress style

.container {
  margin: 1rem auto;
  width: 22rem;
  text-align: center;

  p {
    text-align: left;
    font-size: 0.8rem;
    color: #c2c2c2;
  }
}

.container .progress {
  margin: 0 auto;
  width: 22rem;
}

.progress {
  padding: 4px;
  background: transparent;
  border-radius: 6px;
  border: 0.1px solid #80808036;
}

.progress-bar {
  height: 0.3125rem;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: -moz-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: -o-linear-gradient(
    top,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  background-image: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0.05)
  );
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.progress-bar {
  background-color: #f2d31b;
  animation: progressAnimate 3s ease-in;
}
@keyframes progressAnimate {
  from {
    width: 0%;
  }
  to {
    width: 64%;
  }
}

.label {
  display: inline-block;
  margin: 0 5px 20px;
  padding: 3px 8px;
  color: #aaa;
  text-shadow: 0 1px black;
  border-radius: 3px;
  cursor: pointer;
}
