@import '../../../partials/color-variable';

.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.filter_ {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;

  label {
    margin-right: 1rem;
    color: $lightGray;
  }

  select {
    color: $lightGray;
    padding: 0.4rem;
    border: 1px solid $lightGray;
    border-radius: 5px;
  }
}

.chartWrapper {
  width: 53rem;
  position: relative;
  height: 19rem;
}

canvas {
  height: 100% !important;
}
