<div class="wrapper">
  <section class="card_intro">
    <h5>Analytics</h5>
    <i class="fa fa-ellipsis-h"></i>
  </section>

  <div class="card_design">
    <div class="filter_">
      <div class="day_">
        <select>
          <option selected>5 Days</option>
          <option selected>10 Days</option>
          <option selected>15 Days</option>
          <option selected>20 Days</option>
        </select>
      </div>
      <div class="date_">
        <label for="">Filter</label>
        <select>
          <option value="">Select Date</option>
        </select>
      </div>
    </div>

    <div class="chartWrapper">
      <canvas id="myChart"></canvas>
    </div>

  </div>
</div>
