
      <div class="top__">
        <section class="card_intro">
          <h5>My Cards</h5>
          <i class="fa fa-cog"></i>
        </section>

        <div class="card_design removeRadiusBottom">
          <div class="card_design_details">
            <!-- credit card -->
            <div class="card">
              <div class="rectangle"></div>
              <div>
                <div class="balance">Card for Payment</div>
                <div class="amount">{{userCardDetail?.primaryCard?.cardNumber}}</div>
              </div>
            </div>
            <!-- end of credit card -->

            <div class="card_balance">
              <p>Card Balance</p>
              <h4><span>{{userCardDetail?.primaryCard?.balance | currency}}</span>
                <span></span>
              </h4>
            </div>

            <div class="icons__">
              <i class="fa fa-download"></i>
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            </div>
          </div>

          <hr />

          <div class="card_info">
            <div class="card_info_head">
              <h3>Information</h3>
              <h4>More details</h4>
            </div>
            <div class="card_info_grid">
              <h3>Status Carty:</h3>
              <h4 class="status">
                <span class="active_">{{userCardDetail?.primaryCard?.isActive ? 'Active': 'Not Active'}}</span>
                <span> [Expires in {{userCardDetail?.primaryCard?.expireDate}} days]</span>
              </h4>
            </div>
            <div class="card_info_grid">
              <h3>Name Card:</h3>
              <h4><span>Card for Payment</span></h4>
            </div>
            <div class="card_info_grid">
              <h3>Type of Card:</h3>
              <h4><span>{{userCardDetail?.primaryCard?.cardType}}</span></h4>
            </div>
          </div>
        </div>

        <div class="card_design removeRadiusTop">
          <div class="card_design_details other__card" *ngFor="let cardDetail of userCardDetail?.otherCards">
            <!-- credit card -->
            <div class="card">
              <div class="rectangle purple"></div>
              <div>
                <div class="balance">Card for Payment</div>
                <div class="amount">{{cardDetail?.cardNumber}}</div>
              </div>
            </div>
            <!-- end of credit card -->

            <div class="card_balance">
              <p>Card Balance</p>
              <h4><span>{{cardDetail?.balance | currency}}</span>
                <span></span>
              </h4>
            </div>
          </div>
        </div>
      </div>
