@import '../../../partials/color-variable';


.card_design_details {
  display: flex;
  align-items: center;

  // credit card
  .card {
    width: 129px;
    height: 73px;

    /* Gradient */
    background: linear-gradient(112.03deg, #c69dff 0%, #4f76ff 100%);
    border-radius: 16px;

    .rectangle {
      position: absolute;
      width: 129px;
      height: 73px;
      background: linear-gradient(112.03deg, #c69dff 0%, #4f76ff 100%);
      border-radius: 8px;

      &.purple {
        background: linear-gradient(112.03deg, #c69dff 0%, purple 100%);
      }
    }

    .balance {
      position: absolute;
      height: 18px;
      padding: 54px 0px 0px 21px;
      font-family: Circular Std;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 18px;
      letter-spacing: 0.01em;
      color: #ffffff;
      font-family: Custom;
      letter-spacing: 0.8px;
    }

    .amount {
      position: absolute;
      padding: 0px 0px 0px 20px;
      font-family: Custom;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 40px;
      letter-spacing: 0.01em;
      color: #ffffff;
    }
  }
  // end of credit-card

  .card_balance {
    margin-left: 1rem;
    p {
      font-size: 0.9rem;
      color: $lightGray;
    }
    h4 {
      font-size: 1.1rem;
      span:last-child {
        color: $lightGray;
      }
    }
  }

  .icons__ {
    margin-left: 1rem;
    i.fa {
      color: $lightGray;
      padding: 0.4rem;
      border: 1px solid $lightGray;
      border-radius: 5px;
      &:last-child {
        margin-left: 1rem;
      }
    }
  }
}
.top__ {
  width: max-content;
}
.card_info {
  &_head {
    display: flex;
    justify-content: space-between;
    h3 {
      font-size: 0.9rem;
    }
    h4 {
      color: rgba(128, 128, 128, 0.466);
      font-weight: 600;
      font-size: 0.9rem;
    }
  }
  &_grid {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;

    h3 {
      font-size: 0.9rem;
      color: #000000ad;
    }

    h4 {
      width: 52%;
      font-size: 0.8rem;
      &.status {
        width: auto;
      }
      span {
        color: rgba(128, 128, 128, 0.466);
        font-weight: 600;
        &.active_ {
          color: black;
        }
      }
    }
  }
}
hr {
  margin: 2rem 0;
  height: 0.1px;
  background: #8080801f;
  border: none;
}
.other__card {
  margin-bottom: 0.6rem;
}
